KiiniHelp/obj/Debug/build.force
KiiniHelp/bin
KiiniNet.Services/obj/Debug/build.force
KinniNet.Data/obj/Debug/build.force
KinniNet.Business/obj/Debug/build.force
KiiniHelp/obj/Debug/Package/PackageTmp/assets/tmp/editor/ui/trumbowyg.css
bin/
.gitignore_LOCAL_5996
.gitignore_LOCAL_412
.gitignore_REMOTE_5996
.gitignore_REMOTE_412
.gitignore_REMOTE_15188
.gitignore_LOCAL_15188
.gitignore_BASE_5996
.gitignore_BASE_412
.gitignore_BASE_15188
.gitignore_BACKUP_5996
.gitignore_BACKUP_412
.gitignore_BACKUP_15188
