<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GVV-PC-PORTEGE\MSSQLASUS;initial catalog=KiiniNet_v2;user id=sa;password=ecl1103;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NV28L0I\MSSQLASUS;initial catalog=KiiniNet_v2;user id=sa;password=ecl1103;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="PathInformacionConsultaOriginal" value="~/Uploads/"/>
    <add key="PathInformacionConsultaHtml" value="~/Repositorio/"/>
    <add key="temporalyFilesInformacionConsulta" value="~/General/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" validation="SHA1" decryption="AES"/>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" name=".KnetCookie">
      </forms>
    </authentication>
    <authorization >
      <allow users="*"/>
    </authorization>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="8192"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IServiceSecurity" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="8192"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EndPointSeguridad" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="8192"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EndPointAdministracion" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="8192"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EndPointAdministracion1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="8192"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EndPointAdministracion2" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="8192"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EndPointSeguridad1" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="8192"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EndPointSeguridad2" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="8192"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EndPointSeguridad3" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:15277/ServiceEncuesta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceEncuesta.IServiceEncuesta" name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/ServiceInformacionConsulta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceInformacionConsulta.IServiceInformacionConsulta"
        name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/ServiceMascaras.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceMascaraAcceso.IServiceMascaras" name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/ServiceSla.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding" contract="ServiceSla.IServiceSla"
        name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/ServiceArbolAcceso.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceArbolAcceso.IServiceArbolAcceso" name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/ServiceParametros.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceParametrosSistema.IServiceParametros" name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/ServiceSubGrupoUsuario.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSubGrupoUsuario.IServiceSubGrupoUsuario" name="ServiceUsuario" />
      <endpoint address="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaDomicilio.IServiceDomicilioSistema"
        name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/Sistema/ServiceRoles.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaRol.IServiceRoles" name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoEncuesta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoEncuesta.IServiceTipoEncuesta" name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoInformacionConsulta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoInformacionConsulta.IServiceTipoInfConsulta"
        name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoDocumento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoDocumento.IServiceTipoDocumento"
        name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoCampoMascara.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoCampoMascara.IServiceTipoCampoMascara"
        name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/Sistema/ServiceCatalogos.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaCatalogos.IServiceCatalogos" name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoGrupo.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoGrupo.IServiceTipoGrupo" name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoArbolAcceso.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoArbolAcceso.IServiceTipoArbolAcceso"
        name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/ServiceArea.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding" contract="ServiceArea.IServiceArea"
        name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoUsuario.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoUsuario.IServiceTipoUsuario" name="basicHttpBinding" />
      <endpoint address="http://localhost:15277/ServiceSecurity.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSeguridad.IServiceSecurity" name="ServiceSecurity" />
      <endpoint address="http://localhost:15277/ServiceUsuarios.svc"
        binding="basicHttpBinding" bindingConfiguration="EndPointSeguridad"
        contract="ServiceUsuario.IServiceUsuarios" name="EndPointSeguridad" />
      <endpoint address="http://localhost:15277/ServiceUbicacion.svc"
        binding="basicHttpBinding" bindingConfiguration="EndPointAdministracion"
        contract="ServiceUbicacion.IServiceUbicacion" name="EndPointAdministracion" />
      <endpoint address="http://localhost:15277/ServiceOrganizacion.svc"
        binding="basicHttpBinding" bindingConfiguration="EndPointAdministracion1"
        contract="ServiceOrganizacion.IServiceOrganizacion" name="EndPointAdministracion1" />
      <endpoint address="http://localhost:15277/ServiceGrupoUsuario.svc"
        binding="basicHttpBinding" bindingConfiguration="EndPointAdministracion2"
        contract="ServiceGrupoUsuario.IServiceGrupoUsuario" name="EndPointAdministracion2" />
      <endpoint address="http://localhost:15277/Sistema/ServiceEstatus.svc"
        binding="basicHttpBinding" bindingConfiguration="EndPointSeguridad1"
        contract="ServiceSistemaEstatus.IServiceEstatus" name="EndPointSeguridad1" />
      <endpoint address="http://localhost:15277/ServiceTicket.svc"
        binding="basicHttpBinding" bindingConfiguration="EndPointSeguridad2"
        contract="ServiceTicket.IServiceTicket" name="EndPointSeguridad2" />
      <endpoint address="http://localhost:15277/Sistema/ServiceSubRol.svc"
        binding="basicHttpBinding" bindingConfiguration="EndPointSeguridad3"
        contract="ServiceSistemaSubRol.IServiceSubRol" name="EndPointSeguridad3" />
    </client>
  </system.serviceModel>
</configuration>