<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GVV-PC-PORTEGE\MSSQLASUS;initial catalog=KiiniNet_v2;user id=sa;password=ecl1103;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NV28L0I\MSSQLASUS;initial catalog=KiiniNet_v2;user id=sa;password=ecl1103;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="PathInformacionConsultaOriginal" value="~/Uploads/"/>
    <add key="PathInformacionConsultaHtml" value="~/Repositorio/"/>
    <add key="temporalyFilesInformacionConsulta" value="~/General/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" validation="SHA1" decryption="AES"/>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" name=".KnetCookie">
      </forms>
    </authentication>
    <authorization >
      <allow users="*"/>
    </authorization>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EndPointAdministracion1" />
        <binding name="EndPointAdministracion3" />
        <binding name="EndPointSeguridad" />
        <binding name="EndPointAdministracion4" />
        <binding name="EndPointAdministracion5" />
        <binding name="EndPointSeguridad2" />
        <binding name="EndPointSeguridad3" />
        <binding name="EndPointAdministracion6" />
        <binding name="EndPointAdministracion7" />
        <binding name="EndPointAdministracion8" />
        <binding name="EndPointSeguridad4" />
        <binding name="EndPointSeguridad5" />
        <binding name="EndPointSeguridad6" />
        <binding name="EndPointSeguridad7" />
        <binding name="EndPointSeguridad8" />
        <binding name="EndPointSeguridad9" />
        <binding name="EndPointSeguridad10" />
        <binding name="EndPointSeguridad11" />
        <binding name="EndPointSeguridad12" />
        <binding name="EndPointSeguridad13" />
        <binding name="EndPointSeguridad14" />
        <binding name="EndPointSeguridad15" />
        <binding name="EndPointAdministracion" />
        <binding name="EndPointAdministracion2" />
        <binding name="BasicHttpBinding_IServiceSecurity" />
        <binding name="BasicHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:15277/ServiceEncuesta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceEncuesta.IServiceEncuesta" name="EndPointAdministracion1" />
      <endpoint address="http://localhost:15277/ServiceInformacionConsulta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceInformacionConsulta.IServiceInformacionConsulta"
        name="EndPointAdministracion3" />
      <endpoint address="http://localhost:15277/ServiceMascaras.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceMascaraAcceso.IServiceMascaras" name="EndPointSeguridad" />
      <endpoint address="http://localhost:15277/ServiceSla.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding" contract="ServiceSla.IServiceSla"
        name="EndPointAdministracion4" />
      <endpoint address="http://localhost:15277/ServiceArbolAcceso.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceArbolAcceso.IServiceArbolAcceso" name="EndPointAdministracion5" />
      <endpoint address="http://localhost:15277/ServiceParametros.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceParametrosSistema.IServiceParametros" name="EndPointSeguridad2" />
      <endpoint address="http://localhost:15277/ServiceUsuarios.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceUsuario.IServiceUsuarios" name="EndPointSeguridad3" />
      <endpoint address="http://localhost:15277/ServiceUbicacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceUbicacion.IServiceUbicacion" name="EndPointAdministracion6" />
      <endpoint address="http://localhost:15277/ServiceOrganizacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceOrganizacion.IServiceOrganizacion" name="EndPointAdministracion7" />
      <endpoint address="http://localhost:15277/ServiceSubGrupoUsuario.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSubGrupoUsuario.IServiceSubGrupoUsuario" name="EndPointAdministracion8" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoUsuario.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoUsuario.IServiceTipoUsuario" name="EndPointSeguridad4" />
      <endpoint address="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaDomicilio.IServiceDomicilioSistema"
        name="EndPointSeguridad5" />
      <endpoint address="http://localhost:15277/Sistema/ServiceRoles.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaRol.IServiceRoles" name="EndPointSeguridad6" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoEncuesta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoEncuesta.IServiceTipoEncuesta" name="EndPointSeguridad7" />
      <endpoint address="http://localhost:15277/Sistema/ServiceSubRol.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaSubRol.IServiceSubRol" name="EndPointSeguridad8" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoInformacionConsulta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoInformacionConsulta.IServiceTipoInfConsulta"
        name="EndPointSeguridad9" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoDocumento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoDocumento.IServiceTipoDocumento"
        name="EndPointSeguridad10" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoCampoMascara.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoCampoMascara.IServiceTipoCampoMascara"
        name="EndPointSeguridad11" />
      <endpoint address="http://localhost:15277/Sistema/ServiceCatalogos.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaCatalogos.IServiceCatalogos" name="EndPointSeguridad12" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoGrupo.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoGrupo.IServiceTipoGrupo" name="EndPointSeguridad13" />
      <endpoint address="http://localhost:15277/Sistema/ServiceTipoArbolAcceso.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSistemaTipoArbolAcceso.IServiceTipoArbolAcceso"
        name="EndPointSeguridad14" />
      <endpoint address="http://localhost:15277/ServiceTicket.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceTicket.IServiceTicket" name="EndPointSeguridad15" />
      <endpoint address="http://localhost:15277/ServiceGrupoUsuario.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceGrupoUsuario.IServiceGrupoUsuario" name="EndPointAdministracion" />
      <endpoint address="http://localhost:15277/ServiceArea.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding" contract="ServiceArea.IServiceArea"
        name="EndPointAdministracion2" />
      <endpoint address="http://localhost:15277/ServiceSecurity.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ServiceSeguridad.IServiceSecurity" name="BasicHttpBinding_IServiceSecurity" />
    </client>
  </system.serviceModel>
</configuration>